<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloWeb %></title>

    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- él ya sabe que es dentro de la carpeta public por que la configuramos en app.js-->
</head>

<body class="container">
    <%- include("navbar") %> 